html {
  scroll-behavior: smooth;
}


body{
    background:url('assets/bg.jpg');
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    height: 3000px;
    color: white;
    

}

.navbar{
    position: fixed;
    height: 100px;
    background: transparent;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: row;
    z-index: 4;
    
    
}
.extras{
    flex: 1;
    display: flex;
    gap: 100px;
    margin-left: 100px;
    align-items: center;

    
}
.extras button{
    width: 50px;
    height: 40px;
    background: transparent;
    color: bisque;
    outline: 0px;
    border: 0px;
    font-size: 25px;
    padding: auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.extras button:hover{
    
    color: rgb(189, 182, 39);
    transform: scale(1.05);

}
.darkmode{
    background-color: lightcoral;
    height: 150px;
    width: 150px;
}
.darkmode img{
    width: 100%;
}
.nav-buttons{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.nav-buttons button{
    
  
    height: 60px;
    background: transparent;
    color: bisque;
    outline: 0px;
    border: 0px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: auto;
    text-align: center;
    margin: 0px;

}
.nav-buttons button:hover{
    color: rgb(189, 182, 39);
    transform: scale(1.05);
    border-radius: 10px;

}


.intro{
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 100px;
    margin-top: 10%;
    align-items: center;
    width: 1400px;
    position: fixed;
    
}
.social-icons{
    display: flex;
    gap: 50px;
    
}
.social-icons button{
    width: 50px;
    height: 50px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    transition: all 0.1s ease-in;
    
    
}
.social-icons button:hover{
    
    background: transparent;
    background-color: bisque;
    
    border: 2px solid (150, 129, 103);
}
.social-icons button img{
    width: 100%;
    background-color: rgb(189, 182, 39);
    
}
.social-icons button img:hover{
    background-color: (150, 129, 103);
    
    
}
   
    

.content{
    flex: 60%;
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 650px;
    
}
.content h2{
    color: rgb(189, 182, 39);
    font-family: "Roboto";
    font-size: 60px;
    margin-bottom: 0;

}
.content p{
    color: rgb(150, 129, 103);
    font-family: 'Matangi';
    font-size: 26px;
    font-weight: 600;
    line-height: 40px;
}
.welcome-btn{
    width: 200px;
    height: 40px;
    background-color: rgb(46, 110, 50);
    color: white;
    font-size: 25px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.3s ease;
    
}
.welcome-btn:hover{
    background: transparent;
    color: bisque;
    border: 1px solid bisque;
    transform: scale(1.03);
}
.profile{
    width: 200px;
    padding: 30px;
    flex: 0 0 40%;
    overflow: hidden;
    
    
    
}
.profile img{
  width: 100%;       
  aspect-ratio: 1/1; 
  object-fit: cover; 
  border-radius: 8px;  
  border-radius: 50%; 
  padding: 0px;
  
    
}
.spacer{
    height: 1500px;
    width: 100%;
}
.keypoints{
    height: 2500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    background:url('assets/bg2.jpg');
    background-size: contain;
    background-attachment: fixed;
    z-index: 2;
    
}

.about{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;

}
.about p{
    font-size: 50px;
    transition: all 0.8s ease;
    padding: 20px;
}
.about p:hover{
    background: transparent;
    border: 1px solid bisque;
    color: bisque;
    border-radius: 20px;


}
.about img{
    width: 500px;
    height: 500px;
    border: 3px solid black;
    border-radius: 20px;
    
}
.about-buttons{
    display: flex;
    gap: 50px;
    margin-top: 60px;
}

.about-buttons button{
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color: rgb(46, 110, 50);
    color: white;
    font-size: 25px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.3s ease;
    
}
.about-buttons  button:hover{
    background: transparent;
    color: bisque;
    border: 1px solid bisque;
    transform: scale(1.03);
}
.about-content{
    flex: 1;
    
    padding: 250px;
    
    
}
.about-content p{
    
    padding: 20px;
    font-size: 36px;
    font-family:'Matangi';
    text-align: center;
    border-radius: 30p;   
    transition: all 0.3s ease;
    
}
.about-content p:hover{
    background-color: rgba(0, 0, 0, 0.345);
    border: 2px solid rgb(161, 126, 82);
    color: rgb(198, 171, 18);
    border-radius: 15px;
    padding: 40px;
}
.ending{
    background-color: lightblue;
    z-index: 3;
    position: sticky;
    height: 100px;
    top: 10px;
    left: 0px;
    right: 0px
}